    body {
    width: 100vw;
    height: 100vh;
    background: url("images/landing.jpg");
    background-size: cover;
    text-align: center;
    border: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-style: var();
    font-size: xx-large;
}

h2 {
    text-align: center;
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

h2:hover {
    color: red;
}

h3 {
    text-align: center;
    font-size: large;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

h3:hover {
    color: white;
}

div {
    font-size: larger;
    color: white;
    padding: 10px;
    margin: 10px;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    background: white;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

.glow {
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
    }
    to {
        text-shadow: 0 0 20px #eeeeee, 0 0 30px #e14dff, 0 0 40px #a94dff, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }